/* #region_general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion_general */

/* #region_utilities */
.container{
    width: 70%;
    margin: auto;
}

.flex{
    display: flex;
}

/* #endregion_utilities */

#app_header::after{
    content: "";
    display: table;
    clear: both;
}

/* #region_debug */

.debug#app_header{
    background-color: blue;
    
}

.app_nav.debug{
    background-color: orange;
    justify-content: space-between;
    border: 1px dashed black;
    padding: 1rem;
}

.logo.debug{
    border: 1px dashed black;
    width: 25%;
    padding: 0.5rem 0;
}

.menu.debug{
    border: 1px dashed black;
    width: 50%;
    justify-content: center;
    padding: 0.5rem 0;
}

.login.debug{
    width: 25%;
    border: 1px dashed black;
    justify-content: flex-end;
    padding: 0.5rem 0;
}

.heading.debug{
    height: 20rem;
    background-color: pink;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.image.debug{
    height: 15rem;
    background-color: lightskyblue;
    margin: 1rem 0;
    width: 60%;
    border: 1px dashed black;
}

.text.debug{
    height: 15rem;
    background-color: violet;
    margin: 1rem 0;
    width: 40%;
    border: 1px dashed black;
}

.main_section_bg.debug{
    background-color: gray;
}

.pre_footer.debug{
    height: 40rem;
    background-color: pink;
    margin: 1rem 0;
    width: 100%;
    border: 1px dashed black;
}
/* #endregion_debug */

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
    
}

li{
    margin: 0 0.5rem;
}
