*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: auto;
}

.flex{
    display: flex;
}

#app_header::after{
    content: "";
    display: table;
    clear: both;
}

.debug#app_header{
    background-color: blue;
    
}

.app_nav.debug{
    background-color: orange;
    justify-content: space-between;
    border: 1px dashed black;
    padding: 1rem;
}

.logo.debug{
    border: 1px dashed black;
    width: 25%;
    padding: 0.5rem 0;
}

.menu.debug{
    border: 1px dashed black;
    width: 50%;
    justify-content: center;
    padding: 0.5rem 0;
}

.login.debug{
width: 25%;
border: 1px dashed black;
justify-content: flex-end;
padding: 0.5rem 0;
}

.heading.debug{
    height: 20rem;
    background-color: pink;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}


a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
    
}

li{
    margin: 0 0.5rem;
}
